body {
    width: 350px;
    background-color: #212529; /* Cor de fundo escura do Bootstrap */
    color: #dee2e6; /* Cor de texto clara do Bootstrap */
}

.header {
    background-color: #343a40;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #495057;
} 